nav {
  width: 100%;
  
  padding: 2% 0;
  background-color: #eee;
}
.wrapper {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #eee;
}
.wrapper li a{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  background-color: #eee;
}
.wrapper li:hover {
  cursor: pointer;
  font-weight: 600;
}
.active {
  border-bottom: 2px solid black;
  font-weight: 600;
}